@model Admin
@{
    // use the layout _Layout.cshtml
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>
        Login
    </h1>
    <form asp-action="Login" method="post">
        <div>
            <label asp-for="Username">Username</label>
            <input asp-for="Username" type="text" name="username" />
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" name="password" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</body>
</html>
